<div id="scheduleModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{state}} Schedule Item</h4>
            </div>
            <div class="modal-body">
                <form name="scheduleForm">

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <label>Title</label>
                            <input required ng-model="show.title" type="text" class="form-control" placeholder="Title"/>
                        </div>
                        <div class="form-group col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <label>Show Host</label>
                            <input required ng-model="show.host"  type="text" class="form-control" placeholder="Show Host Names"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Show Description</label>
                        <textarea ng-model="show.description"  class="form-control" placeholder="Show Description"></textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <label>Show Host Image</label>
                            <input required ng-model="show.img_src" type="url" class="form-control" placeholder="Show Host Image"/>
                        </div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <div class="img_mask">
                                <img src="{{show.img_src || './img/album-error.png'}}"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">

                            <div class="row">
                                <div class="form-group  col-md-12">
                                    <label>Day of Week</label>
                                    <select ng-model="temp.day" class="form-control">
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                        <option value="7">Sunday</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <label>Start Time</label>
                                    <time-picker time="temp.start"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <label>End Time</label>
                                    <time-picker time="temp.end"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button ng-click="addShowTime(temp)" type="button" class="btn btn-success add-time">Add Time</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                            <label>Show Times</label>
                            <div class="list">
                                <div ng-repeat="item in show.show_items track by $index" class="item">
                                    <h4>{{item.day | dayFilter}}</h4>
                                    <h5>{{item.start | timeFilter}} - {{item.end | timeFilter}}</h5>
                                    <span ng-click="removeShowTime($index)" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </div>
                                <div ng-show="show.show_items.length == 0" class="item">
                                    <h5>Add A Show Time</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="deleteShow(show)" ng-show="state == 'Edit'" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="saveShow(show)" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>